<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="hip_bl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hip_bl']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_bl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_bl']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="knee_bl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['knee_bl']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hip_br">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hip_br']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_br">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_br']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="knee_br">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['knee_br']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hip_fl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hip_fl']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_fl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_fl']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="knee_fl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['knee_fl']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hip_fr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hip_fr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_fr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_fr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="knee_fr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['knee_fr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
